package ${packname};

import ${dpackage}.${table.name}Dao;
import ${epackage}.${table.name};
import org.springframework.stereotype.Repository;

@Repository
public class ${table.name}DaoImpl extends BaseDaoImpl<${table.pkType}, ${table.name}> implements ${table.name}Dao {

}