<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- [可选项] 引入资源文件, 可以通过 ${} 占位符引用资源文件的内容 -->
    <properties location="jdbc.properties" />

    <!-- [可选项] 自定义属性, 可以在模板文件(*.vm)中直接引用 -->
    <properties>
        <property name="xxx" value="xxx" />
    </properties>

    <!-- [必须项] 数据源配置 -->
    <datasource>
        <!-- 数据库连接地址 -->
        <property name="url" value="${jdbc.url}" />
        <!-- 连接数据库的驱动 -->
        <property name="driverClass" value="${jdbc.driver}" />
        <!-- 账户名称 -->
        <property name="username" value="${jdbc.username}" />
        <!-- 账户密码 -->
        <property name="password" value="${jdbc.password}" />
    </datasource>

    <!-- [可选项] 数据库配置 -->
    <schema>
        <!-- 表名分隔符, 用于驼峰标识拼写 -->
        <property name="tableNameSeparator" value="_" />
        <!-- 列名分隔符, 用于驼峰标识拼写 -->
        <property name="columnNameSeparator" value="_" />
        <!-- 忽略表的模式串, 支持星配符, 被匹配表将被忽略不处理 -->
        <property name="tableIgnores" value="test*" />
        <!-- 逃逸模式匹配的表, 下列配置的表即使被上述模式匹配也不会被忽略 -->
        <property name="tableEscapes">
            <value>table_1</value>
            <value>table_2</value>
        </property>
        <!-- 忽略的列名称, 被忽略的列将不被处理 -->
        <property name="columnIgnores">
            <value>column_name1</value>
            <value>column_name2</value>
        </property>
        <!-- 表的前缀 -->
        <property name="tablePrefix">
            <value>tb1_</value>
            <value>tb2_</value>
        </property>
        <!-- 数据类型映射处理 -->
        <property name="dataTypes">
            <value jdbcType="int" javaType="Integer" />
        </property>
    </schema>

    <!-- [必须项] 扫描器 -->
    <scanner>
        <!-- 模板类扫描的包 -->
        <property name="templateClasses" value="org.fanlychie.mybatis.template" />
        <!-- 模板文件扫描的包 -->
        <property name="templateVmsPath" value="org.fanlychie.mybatis.template.vm" />
    </scanner>

    <!-- [必须项] 输出配置 -->
    <output>
        <property name="entity" packname="com.zjb100.entity"
                  folder="C:\project\src\main\java"/>

        <property name="mapperXml" packname="com.zjb100.mapper"
                  folder="C:\project\src\main\resources" />

        <property name="dao" packname="com.zjb100.dao"
                  folder="C:\project\src\main\java" />

        <property name="daoImpl" packname="com.zjb100.dao.impl"
                  folder="C:\project\src\main\java" />

        <property name="service" packname="com.zjb100.service"
                  folder="C:\project\src\main\java" />

        <property name="serviceImpl" packname="com.zjb100.service.impl"
                  folder="C:\project\src\main\java" />
    </output>

</configuration>